* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    left: 0;
    top: 0;
}

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
}

.header-name-and-title {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 2rem;
}

.header-name-and-title h3{
	margin: 0.1;
}

nav {
	margin-right: 2rem;
}

.container {
	display: grid;
	width: 100%;
	grid-template-rows: auto auto;
	z-index: 0;
	position: absolute;
	margin-top: 100px;
}

main {
	display: grid;
}

.page-title {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 100px;
}

.about-me {
	padding-top: 100px;
}

.projects {
	padding-top: 100px;
}