* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
	--grid-gap: 20px;
}

body{
    left: 0;
    top: 0;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
}

.header-left-side {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 2rem;
	font-size: 3.25rem;
}

.header-name-and-title {
	display: flex;
	flex-direction: column;
	font-size: 1.1rem;
	margin-left: 0.75rem;

}

.header-name-and-title h2 {
	padding-bottom: 0.5rem;
}

nav {
	margin-right: 2rem;
}

nav a {
	text-decoration: none;
	margin: 0 0.1rem;
	color: white;
	background: royalblue;
	padding: 0.5rem;
}

nav a:hover {
	text-decoration: underline;
}

/*main title section*/

.container {
	display: grid;
	width: 100%;
	grid-template-rows: auto auto;
	grid-template-columns: 1fr 9fr 1fr;
	z-index: 0;
	position: absolute;
	margin-top: 100px;
}

main {
	display: grid;
	grid-column: 2 / 3;
}

.main-page-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 100px;
}

/*about me section*/

.about-me {
	display: grid;
	grid-gap: var(--grid-gap);
	padding-top: 100px;
}

.about-me-header {
	display: flex;
	justify-content: center;
	padding-top: 1rem;
}

.about-me-content {
	display: grid;
	grid-gap: var(--grid-gap);
	grid-template-columns: repeat(4, 1fr);
}

.about-me-element {
	display: grid;
	grid-template-rows: 1fr 9fr;
	align-items: center;
	height: 300px;
	overflow: hidden;
}

.about-me-element img {
	align-self: flex-start;
	overflow: hidden;
	width: 100%;
}

.bio .tech-inventory .contact {
	display: flex;
	flex-direction: column;
}

.bio-header {
	display: flex;
	justify-content: center;
}

.bio-list {
	display: flex;
	flex-direction: column; 
	align-items: center;
}

.tech-inventory-header {
	display: flex;
	justify-content: center;
}

.tech-inventory p {
	display: flex;
	justify-content: center;
}

.contact-header {
	display: flex;
	justify-content: center;
}

.contact a {
	font-size: 1.5em;
}

.contact p {
	display: flex;
	justify-content: center;
}

.email-link {
	font-size: 1rem;
}

/*projects section*/

.projects {
	display: grid;
	grid-gap: var(--grid-gap);
	padding-top: 100px;
}

.projects-header {
	display: flex;
	justify-content: center;
	padding-top: 1rem;
}

.projects-content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.projects-element {
	display: grid;
	grid-template-rows: 1fr 5fr 4fr;
	align-items: center;
	height: 300px;
	overflow: hidden;
}

footer {
	padding-top: 100px;
	grid-column-start: 2;
}