* {
	font-family: "Mukta Mahee", sans-serif;
}

header, footer {
	color: white;
	background-color: royalblue;
}

header, .about-me-element, .projects-element {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
	box-shadow: 4px 6px 4px 8px rgba(0, 0, 0, 0.2), 6px 12px 6px 20px rgba(0, 0, 0, 0.19);
}

a {
	text-decoration: none;
}

nav {
	font-size: 1.4rem;
}

nav a, footer a {
	color: white;
}

nav a:hover, footer a:hover {
	color: #b3d1ff;
}

.container {
	background-color: #e6f0ff;
}

.main-section {
	color: royalblue;
	font-size: 1.2em;
}

.element-list {
	color: black;
} 

.main-section a {
	color: #6600cc;
}

.main-section a:visited {
	color: #6600cc;
}

.main-section a:hover {
	text-decoration: none;
	color: #ffcc00;
}

.about-me-content {
	font-size: 0.9em;
}

.about-me-element, .projects-element {
	padding: 1rem;
	border-style: solid;
	border-width: thin;
	border-color: lightgray;
	background-color: white;
}

.about-me-element img, .projects-element img {
	border-style: solid;
	border-width: thin;
	border-color: lightgray;
}