header, footer {
	color: white;
	background-color: royalblue;
}

nav {
	font-size: 1.4rem;
}

a {
	text-decoration: none;
}

.main-section {
	color: blue;
	font-size: 1.2em;
}

.about-me-content {
	font-size: 0.9em;
}

.element-list {
	color: black;
} 

.element-list a {
	color: darkblue;
}
.element-list a:visited {
	color: darkblue;
}

.projects {
	color: red;
	font-size: 1.2em;
}

.scrolling-test {
	font-size: 3em;
}

footer a:visited {
	color: white;
}