header {
	color: white;
	background-color: royalblue;
}

nav {
	font-size: 1.4rem;
}

nav a {
	text-decoration: none;
}

.main-subsection {
	color: blue;
	font-size: 1.2em;
}

.about-me-content {
	font-size: 0.9em;
}

.about-me-element-list {
	color: black;
} 

.projects {
	color: red;
	font-size: 1.2em;
}

.projects-list {
	list-style: none;
}

.scrolling-test {
	font-size: 3em;
}