* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
	min-height: 100vh;
	display: grid;
	grid-template-rows: 4rem auto 4rem;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
}

.nav-links {
	display: flex;
	transition: 0.25s;
	font-size: 1.1em;
}

nav a {
	padding: 0 0.5rem;
	display: flex;
	align-items: center;
}

.header-contact-links {
	margin-right: 0.75rem;
}

.header-contact-links h2 a {
	margin-left: 1rem;
}

.front-page-main-section {
	display: flex;
	justify-content: center;
	align-items: center;
}

.front-page-main-text {
	text-align: center;
}

.projects-main-section {
	position: relative;
}

footer {
	display: flex;
	justify-content: space-between;
	padding: 1rem 1.5rem;
	font-size: 1.1em;
}