* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
	min-height: 100vh;
	display: grid;
	grid-template-rows: 4rem auto 4rem;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
}

.nav-links {
	display: flex;
	transition: 0.25s;
	font-size: 1.1em;
}

nav a {
	padding: 0 0.5rem;
	display: flex;
	align-items: center;
}

.header-contact-links {
	margin-right: 0.75rem;
}

.header-contact-links h2 a {
	margin-left: 1rem;
}

.front-page-main-section {
	display: flex;
	justify-content: center;
	align-items: center;
}

.front-page-main-header {
	text-align: center;
}

.about-me-main-section {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.about-me-main-header {
	margin-top: 2rem;
}

.profile-pic {
	max-height: 20vw;
	max-width: 20vw;
	margin-bottom: 2rem;
}

footer {
	display: flex;
	justify-content: space-between;
	padding: 1rem 1.5rem;
	font-size: 1.1em;
}