* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
	min-height: 100vh;
	display: grid;
	grid-template-rows: 4rem auto 4rem;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1rem;
}

.nav-links {
	display: flex;
	transition: 0.25s;
	font-size: 1.1em;
}

nav a {
	padding: 0 0.5rem;
	display: flex;
	align-items: center;
}

.header-contact-links {
	margin-right: 0.75rem;
}

.header-contact-links h2 a {
	margin-left: 1rem;
}

.front-page-main-section {
	display: flex;
	justify-content: center;
	align-items: center;
}

.front-page-main-header {
	text-align: center;
}

.about-me-main-section {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 3rem 0;
}

.about-me-content {
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	padding: 1.3rem;
}

.profile-pic {
	max-height: 17vw;
	max-width: 17vw;
	display: inline;
}

.about-me-middle-section,
.about-me-right-section {
	display: flex;
	flex-direction: column;
	margin-left: 2rem;
}

.about-me-middle-section p,
.about-me-right-section p {
	margin-bottom: 0.5rem;
}

.about-me-middle-section > p,
.about-me-right-section > p {
	margin-top: 0.5rem;
}

.projects-main-section {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-row-gap: 2rem;
	padding: 2rem 0;
}

.projects-main-header {
	grid-column-start: 2;
	text-align: center;
}

.projects-content {
	display: grid;
	grid-column-start: 2;
	grid-row-gap: 2rem;
}

.projects-element {
	display: grid;
	grid-template-rows: auto auto;
	padding: 1rem 1.3rem;
}

.projects-element-description {
	padding-bottom: 1rem;
}

.projects-element-description h3 {
	font-size: 1.3em;
}

.projects-image img {
	width: 100%;
	height: 100%;
}

footer {
	display: flex;
	justify-content: space-between;
	padding: 1rem 1.5rem;
	font-size: 1.1em;
}