@media only screen 
and (max-width: 812px) { 

	.about-me-main-section {
		padding: 3vw;
		margin: 3vw 0;
	}
	
	.about-me-main-header {
		text-align: center;
	}

	.about-me-content {
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	}

	.profile-pic {
		max-height: 50vw;
		max-width: 50vw;
		align-self: center;
		margin-bottom: 0.5rem;
	}

	.projects-main-header {
		margin: 3vw 0;
	}

	.projects-main-section {
		display: flex;
		flex-direction: column;
		padding: 3vw;
		margin-bottom: 3vw;
	}

	footer {
		font-size: 0.8rem;
	}

	.hidden-footer-link {
		opacity: 100;
		pointer-events: all;
		cursor: pointer;
	}
}

@media only screen 
and (max-width: 500px) { 

	.profile-pic {
		max-height: 70vw;
		max-width: 70vw;
	}

	.about-me-main-header,
	.projects-main-header {
		margin-bottom: 0.5rem;
	}

	.about-me-middle-section,
	.about-me-right-section {
		margin-left: 0;
		font-size: 0.8em;
	}

	.projects-element {
		font-size: 0.9em;
	}
}

@media only screen 
and (max-width: 425px) {

	.nav-links {
		font-size: 1.1rem;
	}

	.header-contact-links {
		font-size: 0.8rem;
	}
}

@media only screen 
and (max-width: 335px) {

	.nav-links {
		font-size: 1rem;
		flex-direction: column;
	}

	.header-contact-links {
		font-size: 0.7rem;
	}

	.about-me-main-header,
	.projects-main-header {
		font-size: 1.3em;
		margin-bottom: 0.5rem;
	}
}