* {
	font-family: "Mukta Mahee", sans-serif;
}

header, footer {
	color: white;
	background-color: royalblue;
}

header, .about-me-element, .projects-element {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
	box-shadow: 4px 6px 4px 8px rgba(0, 0, 0, 0.2), 6px 12px 6px 20px rgba(0, 0, 0, 0.19);
}

a {
	text-decoration: none;
}

nav {
	font-size: 1.4rem;
}

nav a,
nav a:visited,
.header-contact-links h2 a,
.header-contact-links h2 a:visited
footer a {
	color: white;
	transition: 0.25s;
}

nav a:hover,
footer a:hover {
	color: #b3d1ff;
	transition: 0.25s;
}

.nav-links.hidden {
	transition: 0.25s;
}

.nav-links {
	transition: 0.25s;
}

.header-contact-links h2 a,
.header-contact-links h2 a:visited {
	color: white;
	transition: 0.25s;
}

.header-contact-links h2 a:hover {
	color: #b3d1ff;
	transition: 0.25s;
}

.front-page-container,
.about-me-container {
	background: linear-gradient(to right, #b3d1ff, white, #b3d1ff);
}

.main-section {
	color: royalblue;
	font-size: 1.2em;
}

.element-list {
	color: black;
} 

.main-section a {
	color: #6600cc;
}

.main-section a:visited {
	color: #6600cc;
}

.main-section a:hover {
	text-decoration: none;
	color: #ffcc00;
}

.about-me-content {
	font-size: 0.9em;
}

.about-me-element, .projects-element {
	padding: 1rem;
	border-style: solid;
	border-width: thin;
	border-color: lightgray;
	background-color: white;
}

.about-me-element img, .projects-element img {
	border-style: solid;
	border-width: thin;
	border-color: lightgray;
}

.main-section-button {
	color: white;
	background-color: royalblue;
}