* {
	font-family: "Mukta Mahee", sans-serif;
}

.container {
	background: linear-gradient(to right, #b3d1ff, white, #b3d1ff);
}

header, footer {
	color: white;
	background-color: royalblue;
}

header,
.about-me-content,
.projects-element {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
	box-shadow: 4px 6px 4px 8px rgba(0, 0, 0, 0.2), 6px 12px 6px 20px rgba(0, 0, 0, 0.19);
}

a {
	text-decoration: none;
}

nav {
	font-size: 1.4rem;
}

nav a,
nav a:visited,
.header-contact-links h2 a,
.header-contact-links h2 a:visited
footer a,
footer a:visited,
#footer-link,
#footer-link:visited {
	color: white;
	transition: 0.25s;
}

.projects-element-link,
.projects-element-link a:visited {
	color: #6600cc;
	transition: 0.25s;
}

nav a:hover,
.header-contact-links h2 a:hover,
footer a:hover,
#footer-link:hover,
.projects-element-link:hover {
	color: #ffe066;
	transition: 0.25s;
}

.about-me-content {
	background-color: white;
	border-style: solid;
	border-width: 2px;
	border-color: lightgray;
	border-radius: 1rem;
}

.projects-element {
	border-style: solid;
	border-width: thin;
	border-color: lightgray;
	background-color: white;
	border-radius: 1rem;
}

.projects-element img {
	border-style: solid;
	border-width: thin;
	border-color: lightgray;
}

.hidden-footer-link {
	opacity: 0;
	pointer-events: none;
   	cursor: default;
}